@import url('https://fonts.googleapis.com/css?family=Hepta+Slab:400,500,600,700&display=swap');

.container {
   min-height:100vh;
   position:relative;
}



.header {
  font-family: 'Hepta Slab', serif;
  display: flex;
  justify-content: center;
  font-size: 2.5em;
   position:absolute;
   bottom:0;
   width:100%;
   height:80px;   /* Height of the footer */
   background: whitesmoke;
}



.footer {
  font-family: 'Hepta Slab', serif;
  display: flex;
  justify-content: center;
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background: whitesmoke;
}



